# Question 1 (Basics)
##### For each of the following variables, first show the type of the variable, then change it to the requested type and show the type again.
##### Change to float and integer:

In [6]:
num1=12.5
print(type(num1))
num1=float(num1)
print(type(num1))
num1=int(num1)
print(type(num1))

<class 'float'>
<class 'float'>
<class 'int'>

In [10]:
num2="050"
print(type(num2))
num2=float(num2)
print(type(num2))
num2=int(num2)
print(type(num2))

<class 'str'>
<class 'float'>
<class 'int'>

In [11]:
num3="20"
print(type(num3))
num3=float(num3)
print(type(num3))
num3=int(num3)
print(type(num3))

<class 'str'>
<class 'float'>
<class 'int'>

In [1]:
student_num = "s98234"
print(type(student_num))
student_num=float(student_num)
print(type(student_num))
#Because of the presence of the letter S could not convert string to float and integer

<class 'str'>

ValueError: could not convert string to float: 's98234'

In [15]:
flag = True
print(type(flag))
flag=float(flag)
print(type(flag))
flag=int(flag)
print(type(flag))

<class 'bool'>
<class 'float'>
<class 'int'>
1

##### Change to boolean:

In [19]:
num1 = -20
print(type(num1))
num1=bool(num1)
print(type(num1))

<class 'int'>
<class 'bool'>
True

In [21]:
num2 = 00
print(type(num2))
num2=bool(num2)
print(type(num2))

<class 'int'>
<class 'bool'>
False

In [23]:
flag = "False"
print(type(num2))
num2=bool(num2)
print(type(num2))

<class 'bool'>
<class 'bool'>
False

# Question 2 (Basics)
##### Display average of the following three variables in the output.

In [3]:
num1 = 20
num2 = 19.
num3 = "18.5"
num3=float(num3)
average=(num1+num2+num3)/3
print(average)

19.166666666666668

# Question 3 (Basics)
##### Define two variables with integer values, then display True if the first variable is greater than the second and display False if it is smaller.

In [4]:
num1=2
num2=1
print(num1>num2)

True

# Question 4 (Basics)
##### By getting the length and width of a rectangle, calculate and display its perimeter and area.

In [5]:
width=float(input("pleas inter a number"))
length=float(input("pleas inter a number"))
perimeter=2*(width+length)
area=width*length
print(perimeter , area)

pleas inter a number5
pleas inter a number5
20.0 25.0

# Question 5 (Basics)
##### In the figure below, calculate the area of the colored part by getting the radius of the circle.

<img src="GU.png" alt="Alternative text" />

In [6]:
r=float(input("please inter a number"))
area1=r*r
print(area1)
area2=3.14* ((r/2)**2)
print(area2)
area3=area1-area2
print(area3)

please inter a number4
16.0
12.56
3.4399999999999995

# Question 6 (Basics)
##### In the following three lines, display the value of num1, num2, num3.
##### num1 = num2 = num3 = 200
##### num1 , num2 , num3 = 10, 20, 145
#####  num1 , num2 , num3 = 30, 100

In [7]:
num1 = num2 = num3 = 200
print(num1 , num2 , num3)

200 200 200

In [8]:
num1 , num2 , num3 = 10, 20, 145
print(num1 , num2 , num3)

10 20 145

In [9]:
num1 , num2 , num3 = 30, 100
print(num1 , num2 , num3 )
#The number of variables and the number of inputs must be equal. Here we have three variables and two values, that's why an error occurs.

ValueError: not enough values to unpack (expected 3, got 2)

In [10]:
num1 , num2 , num3 = 30, 100,200
print(num1 , num2 , num3 )

30 100 200